server:
  port: 80

spring:
  application:
    name: spring-shop

  devtools:
    restart:
      enabled: true

    livereload:
      enabled: true

  thymeleaf:
    cache: false

  security:
    user:
      name: test@test.com
      password: 1111


  #################
  #Mysql Setting
  #################

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/shop_a?serverTimezone=UTC&useUnicode=true&characterEncoding=utf8&allowPublicKeyRetrieval=true&useSSL=false
    username: root
    password: 12345678

#################
#JPA Setting
#################

  jpa:
    open-in-view: true
    hibernate:
      ddl_auto: update  # create, update, none, create-drop, validate
      naming:
        physical-strategy: org.hibernate.boot.model.naming.CamelCaseToUnderscoresNamingStrategy # 카멜표기를 스네이크 표기로 변환
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.MySQL8Dialect  # MySQL8 버전 사용

#################
#Log Setting
#################

logging:
  level:
    org:
      hibernate:
        type:
          descriptor:
            sql: trace